<form method="POST" action="<%= session_url %>">
  <label for="username_input">username: </label>
  <input type="text" name="user[username]" id="username_input" placeholder="username">
  <label for="password_input">password: </label>
  <input type="password" name="user[password]" id="password_input" placeholder="password">
  <input type="submit" value="login">
</form>